In [9]:
import pandas as pd

In [10]:
import datetime

In [11]:
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib.dates as mdates

In [19]:
def cleanDate(s):
    return datetime.datetime.strptime(s, "%Y-%m-%d %H:%M:%S.%f")

In [20]:
all_devices = pd.read_csv("consolidated.csv")
all_devices["time"] = all_devices["datetime"].apply(cleanDate)

In [ ]:
fig, ax = plt.subplots(figsize=(12,12))
ax.xaxis.set_major_formatter(mdates.DateFormatter('%d %H:%M'))
fig.autofmt_xdate()

all_devices2 = all_devices[all_devices["temperature"] < 60]
all_devices2 = all_devices2[all_devices2["temperature"] > 5]

sns.scatterplot(data=all_devices2,
                x="time",
                y="temperature", 
                hue="device",
                size=1,
                linewidth=0,
                palette="tab10",
                alpha=0.3,
                ax=ax,
                legend=False)

In [7]:
all_devices2[all_devices2["device"] == 1]

Empty DataFrame
Columns: [Unnamed: 0, Unnamed: 0.1, temperature, datetime, flags, device, file, voltage]
Index: []

In [8]:
all_devices2

,Unnamed: 0,Unnamed: 0.1,temperature,datetime,flags,device,file,voltage
0,0,0,22.375,2021-05-06 17:55:06.727988,0,0,2021-05-06 17:00:00,NaN
1,1,1,22.375,2021-05-06 17:55:11.288008,0,0,2021-05-06 17:00:00,NaN
2,2,2,22.375,2021-05-06 17:55:16.767685,0,0,2021-05-06 17:00:00,NaN
3,3,3,22.375,2021-05-06 17:55:21.287963,0,0,2021-05-06 17:00:00,NaN
4,4,4,22.437,2021-05-06 17:55:25.847928,0,0,2021-05-06 17:00:00,NaN
...,...,...,...,...,...,...,...,...
771650,1217,1217,23.620,2021-05-10 19:29:31.672685,0,9138,2021-05-10 19:00:00,4.0218
771651,1218,1218,23.620,2021-05-10 19:29:34.465479,0,9138,2021-05-10 19:00:00,4.0218
771652,1219,1219,23.620,2021-05-10 19:29:42.785327,0,9138,2021-05-10 19:00:00,4.0218
771653,1220,1220,23.620,2021-05-10 19:30:10.555691,0,9138,2021-05-10 19:00:00,4.0218
771654,1221,1221,23.620,2021-05-10 19:30:21.670482,0,9138,2021-05-10 19:00:00,4.0218